.glass-panel {
  @apply bg-highest/65 backdrop-blur-sm border border-neutral-900/20 shadow-2xl;
}

.glass-card {
  @apply bg-highest/65 backdrop-blur-sm border border-neutral-900/20 shadow-md;
}

.on-glass {
  @apply bg-transparent
      border-1 border-neutral-400
      text-neutral-900;
}

.success-on-glass {
  @apply bg-success/10 border border-success shadow-lg text-success;
}

.destructive-on-glass {
  @apply bg-destructive/10  border border-destructive shadow-lg text-destructive;
}

.primary-on-glass {
  @apply bg-primary/10  border border-primary shadow-lg text-primary;
}

.secondary-on-glass {
  @apply bg-secondary/10  border border-secondary shadow-lg text-secondary;
}

.glass-divider {
  @apply w-full h-[2px] bg-border
}