@layer components {
  .tab-indicator-primary {
    @apply cursor-pointer rounded-full text-neutral-700 relative bg-transparent;
  }

  .tab-indicator-primary::after {
    @apply absolute inset-x-0 bottom-0 -mb-1 h-[3px] shadow-none;
    content: '';
    transition: background 0.3s ease, background-color 0.3s ease;
  }

  .tab-indicator-primary[data-state='active'] {
    @apply bg-transparent shadow-none;
    box-shadow: none !important;
  }

  .tab-indicator-primary[data-state='active']::after {
    background: linear-gradient(
      to left,
      #ae8625 0%,
      #f5d67d 25%,
      #d2ac47 50%,
      #edc967 75%,
      #ae8625 100%
    );
    @apply shadow-none bg-transparent;
  }
}

@layer components {
  .tab-indicator-secondary {
    @apply cursor-pointer rounded-full text-neutral-700 relative;
  }

  .tab-indicator-secondary::after {
    @apply absolute inset-x-0 bottom-0 -mb-1 h-[3px] shadow-none;
    content: '';
    transition: background 0.3s ease, background-color 0.3s ease;
  }

  .tab-indicator-secondary[data-state='active'] {
    @apply bg-transparent shadow-none;
    box-shadow: none !important;
  }

  .tab-indicator-secondary[data-state='active']::after {
    background: linear-gradient(
      to left,
      #0a0a0a 0%,
      #121212 20%,
      #222222 40%,
      #444444 50%,
      #222222 60%,
      #121212 80%,
      #0a0a0a 100%
    );
    @apply shadow-none;
  }
}

@layer components {
  .liquid-gold {
    position: relative;
    background: linear-gradient(
      to left,
      #ae8625 0%,
      #f5d67d 25%,
      #d2ac47 50%,
      #edc967 75%,
      #ae8625 100%
    );
    background-size: 200% 200%;
    animation: backgroundShift 20s ease-in-out infinite;
  }
  .liquid-gold::before {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 0%, transparent 60%);
    background-size: 200% 200%;
    animation: shineMove 10s ease-in-out infinite;
    pointer-events: none;
  }
}

@keyframes backgroundShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shineMove {
  0% {
    background-position: 10% 20%;
  }
  25% {
    background-position: 60% 40%;
  }
  50% {
    background-position: 30% 80%;
  }
  75% {
    background-position: 80% 60%;
  }
  100% {
    background-position: 10% 20%;
  }
}
