@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-header);

  --breakpoint-xs: 19rem;

  --color-highest: var(--highest);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);

  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);

  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --animate-shine: shine var(--duration) infinite linear;
}

:root {
  --primary-100: hsl(42, 100%, 90%);
  --primary-200: hsl(42, 100%, 80%);
  --primary-300: hsl(42, 100%, 70%);
  --primary-400: hsl(42, 100%, 60%);
  --primary-500: hsl(42, 100%, 50%);
  --primary-600: hsl(35, 100%, 40%);
  --primary-700: hsl(28, 100%, 30%);
  --primary-800: hsl(21, 100%, 20%);
  --primary-900: hsl(14, 100%, 10%);

  --secondary-100: hsl(200, 95%, 50%);
  --secondary-200: hsl(200, 95%, 45%);
  --secondary-300: hsl(200, 95%, 40%);
  --secondary-400: hsl(200, 95%, 35%);
  --secondary-500: hsl(200, 95%, 30%);
  --secondary-600: hsl(200, 95%, 25%);
  --secondary-700: hsl(200, 95%, 20%);
  --secondary-800: hsl(200, 95%, 15%);
  --secondary-900: hsl(200, 95%, 10%);

  --neutral-100: hsl(0, 0%, 90%);
  --neutral-200: hsl(0, 0%, 80%);
  --neutral-300: hsl(0, 0%, 70%);
  --neutral-400: hsl(0, 0%, 60%);
  --neutral-500: hsl(0, 0%, 50%);
  --neutral-600: hsl(0, 0%, 40%);
  --neutral-700: hsl(0, 0%, 30%);
  --neutral-800: hsl(0, 0%, 20%);
  --neutral-900: hsl(0, 0%, 10%);

  --highest: hsl(0, 0%, 100%);
  --card: hsl(0, 0%, 97%);
  --background: hsl(0, 0%, 92%);
  --popover: hsl(0, 0%, 85%);
  --border: hsl(0, 0%, 80%);
  --input: hsl(0, 0%, 75%);
  --muted: hsl(0, 0%, 70%);

  --primary: hsl(44, 67%, 61%);

  --secondary: hsl(0, 0%, 0%);
  --accent: hsl(220, 50%, 36%);
  --ring: hsl(220, 50%, 36%);

  --destructive: hsl(344, 100%, 50%);
  --success: hsl(90, 30%, 35%);

  --foreground: hsl(0, 0%, 5%);
  --card-foreground: hsl(0, 0%, 5%);
  --popover-foreground: hsl(0, 0%, 5%);
  --primary-foreground: hsl(0, 0%, 5%);
  --secondary-foreground: hsl(0, 0%, 5%);
  --muted-foreground: hsl(0, 0%, 30%);
  --accent-foreground: hsl(0, 0%, 5%);
  --destructive-foreground: hsl(0, 0%, 0%);

  --radius: 0.35rem;
}

.dark {
  --primary-100: hsl(42, 100%, 90%);
  --primary-200: hsl(42, 100%, 80%);
  --primary-300: hsl(42, 100%, 70%);
  --primary-400: hsl(42, 100%, 60%);
  --primary-500: hsl(42, 100%, 50%);
  --primary-600: hsl(35, 100%, 40%);
  --primary-700: hsl(28, 100%, 30%);
  --primary-800: hsl(21, 100%, 20%);
  --primary-900: hsl(14, 100%, 10%);

  --secondary-100: hsl(200, 95%, 50%);
  --secondary-200: hsl(200, 95%, 45%);
  --secondary-300: hsl(200, 95%, 40%);
  --secondary-400: hsl(200, 95%, 35%);
  --secondary-500: hsl(200, 95%, 30%);
  --secondary-600: hsl(200, 95%, 25%);
  --secondary-700: hsl(200, 95%, 20%);
  --secondary-800: hsl(200, 95%, 15%);
  --secondary-900: hsl(200, 95%, 10%);

  --neutral-100: hsl(0, 0%, 10%);
  --neutral-200: hsl(0, 0%, 20%);
  --neutral-300: hsl(0, 0%, 30%);
  --neutral-400: hsl(0, 0%, 40%);
  --neutral-500: hsl(0, 0%, 50%);
  --neutral-600: hsl(0, 0%, 60%);
  --neutral-700: hsl(0, 0%, 70%);
  --neutral-800: hsl(0, 0%, 80%);
  --neutral-900: hsl(0, 0%, 90%);
  --highest: hsl(0, 0%, 10%);
  --card: hsl(0, 0%, 15%);
  --background: hsl(0, 0%, 20%);
  --popover: hsl(0, 0%, 25%);
  --border: hsl(0, 0%, 30%);
  --input: hsl(0, 0%, 35%);
  --muted: hsl(0, 0%, 40%);

  --primary: hsl(44, 67%, 61%);

  --secondary: hsl(0, 0%, 0%);
  --accent: hsl(220, 50%, 36%);
  --ring: hsl(220, 50%, 36%);

  --destructive: hsl(344, 100%, 50%);
  --success: hsl(90, 30%, 35%);

  --foreground: hsl(0, 0%, 95%);
  --card-foreground: hsl(0, 0%, 95%);
  --popover-foreground: hsl(0, 0%, 95%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted-foreground: hsl(0, 0%, 70%);
  --accent-foreground: hsl(0, 0%, 95%);
  --destructive-foreground: hsl(0, 0%, 100%);

  --radius: 0.35rem;
}

@keyframes shine {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}
