@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-header);

  --breakpoint-xs: 19rem;

  --color-highest: var(--highest);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --animate-shine: shine var(--duration) infinite linear;
}

:root {
  --neutral-100: hsl(0, 0%, 90%);
  --neutral-200: hsl(0, 0%, 80%);
  --neutral-300: hsl(0, 0%, 70%);
  --neutral-400: hsl(0, 0%, 60%);
  --neutral-500: hsl(0, 0%, 50%);
  --neutral-600: hsl(0, 0%, 40%);
  --neutral-700: hsl(0, 0%, 30%);
  --neutral-800: hsl(0, 0%, 20%);
  --neutral-900: hsl(0, 0%, 10%);

  --highest: hsl(0, 0%, 100%);
  --card: hsl(0, 0%, 97%);
  --background: hsl(0, 0%, 92%);
  --popover: hsl(0, 0%, 85%);
  --border: hsl(0, 0%, 80%);
  --input: hsl(0, 0%, 75%);
  --muted: hsl(0, 0%, 70%);

  --primary: hsl(44, 67%, 61%);

  --secondary: hsl(200, 95%, 30%);
  --accent: hsl(200, 95%, 30%);
  --ring: hsl(200, 95%, 30%);

  --success: hsl(152, 55%, 38%);
  --destructive: hsl(350, 78%, 45%);

  --foreground: hsl(0, 0%, 5%);
  --card-foreground: hsl(0, 0%, 5%);
  --popover-foreground: hsl(0, 0%, 5%);
  --primary-foreground: hsl(0, 0%, 5%);
  --secondary-foreground: hsl(0, 0%, 5%);
  --muted-foreground: hsl(0, 0%, 30%);
  --accent-foreground: hsl(0, 0%, 5%);
  --destructive-foreground: hsl(0, 0%, 0%);

  --radius: 0.35rem;
}

.dark {
  --neutral-100: hsl(0, 0%, 10%);
  --neutral-200: hsl(0, 0%, 20%);
  --neutral-300: hsl(0, 0%, 30%);
  --neutral-400: hsl(0, 0%, 40%);
  --neutral-500: hsl(0, 0%, 50%);
  --neutral-600: hsl(0, 0%, 60%);
  --neutral-700: hsl(0, 0%, 70%);
  --neutral-800: hsl(0, 0%, 80%);
  --neutral-900: hsl(0, 0%, 90%);

  --highest: hsl(0, 0%, 10%);
  --card: hsl(0, 0%, 15%);
  --background: hsl(0, 0%, 20%);
  --popover: hsl(0, 0%, 25%);
  --border: hsl(0, 0%, 30%);
  --input: hsl(0, 0%, 35%);
  --muted: hsl(0, 0%, 40%);

  --primary: hsl(44, 67%, 61%);

  --secondary: hsl(200, 95%, 30%);
  --accent: hsl(200, 95%, 30%);
  --ring: hsl(200, 95%, 30%);

  --success: hsl(152, 55%, 48%);
  --destructive: hsl(350, 78%, 58%);

  --foreground: hsl(0, 0%, 95%);
  --card-foreground: hsl(0, 0%, 95%);
  --popover-foreground: hsl(0, 0%, 95%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted-foreground: hsl(0, 0%, 70%);
  --accent-foreground: hsl(0, 0%, 95%);
  --destructive-foreground: hsl(0, 0%, 100%);

  --radius: 0.35rem;
}

@keyframes shine {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}
